@import '../../../styles/variables';
@import '../../../styles/mixins';
.input {
	z-index: 9999999999999;
	position: relative;
	background: none;
	border: none;
	outline: none;
	border-bottom: solid 1px $LightGray;
	color: white;
	padding: 0.7rem;
	width: 250px;
	&:focus {
		border-bottom: solid 1px $Primary;
	}
	@include breakpoint-tablet() {
		display: initial;
		width: 400px;
	}
}
