$BackgroundMain: #323232;
$accentBackground: #444;
$grey500: #555555;
$ListRowAlt: #222;
$White: #fff;
$LightGray: #aaa;
$ultraLightGrey: #dfe1ea;

//$Primary: #4102f5;
$Primary: #4722d1;

//Awards Colors

$bronze: #cfbfa8;
$silver: #c4d6d5;
$gold: #fff6a8;
$platinum: #aeecc3;
$diamond: #a5aefb;
$top200: #eebbbb;
